// Définition de notre charte Apple
$apple-bg:    #F5F5F7;
$apple-text:  #1D1D1F;
$apple-blue:  #0071e3;

// Application directe au Body
// (On le fait ici pour être sûr que ça s'applique partout)
body {
  background-color: $apple-bg !important; // Le !important force la main à Bootstrap
  color: $apple-text !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a {
  color: $apple-blue;
  text-decoration: none;
  &:hover { color: darken($apple-blue, 15%); }
}
