.banner {
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  color: white;
  position: relative;
  margin-bottom: 40px;

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.5); // Assombrit l'image de fond
  }

  .container {
    position: relative;
    z-index: 1;
  }

  h1 {
    font-size: 48px;
    font-weight: 800;
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin-bottom: 10px;
  }
}
