// 1. Configuration
@import "config/fonts";
@import "config/colors";

// 2. Librairies Externes
@import "bootstrap";
@import "font-awesome";

// 3. Composants
@import "components/navbar";
@import "components/banner";
@import "components/card";
@import "components/buttons";
